// *************************************
//
//  Digifab.hk
//  layout-content/04_aim.sass
//
//  Written by Denis Tsoi as part of Digifab.hk
//  In Collaboration with Eric Tsoi for Digifab.hk
//
// *************************************

.aims
  padding: 40px 110px

  .col-3
    // display: inline-block
    width: calc(100% / 3)
    height: 252px 
    text-align: center
    float: left
    /*background: red*/
    .aim-title
      font-family: $second-font
      font-size: 2.5em
      margin-top: .4em
    .logo
      height: 74px
