// *************************************
//
//  Digifab.hk
//  layout-content/06_attention.sass
//
//  Written by Denis Tsoi as part of Digifab.hk
//  In Collaboration with Eric Tsoi for Digifab.hk
//
// *************************************

.about
	padding-top: 36px
	.title
		font-family: $second-font
		font-size: 2.5em
		text-align: center

		height: 96px
		width: 800px
		border-bottom: solid 1px rgba(0,0,0,.3)